.passInput{
    position:relative;
    display:inline-block;
    *display:inline;
    zoom:1;
    width:380px;
}
.passInput.passSucc{
    background:url(./pass.png) no-repeat 100% 50%;
}
.passInput.passErr{
    background:url(./error.png) no-repeat 100% 50%;
}
.passInput b{
    width:33px;
    height:21px;
    position:absolute;
    right:28px;
    top:8px;
    background:url(./keyboard.png) no-repeat;
    cursor:pointer;
}
.passInput:hover b{
    width:33px;height:21px;
    background:url(./keyboard.png) no-repeat 0 -21px;
}

.passInput input{
    width:340px;
    height:35px;
    padding:0 8px;
}
.passInput .passKey{
    position:absolute;
    left:0px;top:36px;*top:37px;
    padding:5px;
    z-index:100;
    width:346px;
    background:#fff;
    border:1px solid #ccc;
    display:none;
}
.passInput .passKey div{
    float:left;
    margin:2px;
    width:109px;
    height:50px;
    line-height:50px;
    text-align:center;
    border:1px solid #9e9e9f;
    font-size:18px;
    cursor:pointer;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none;  /*webkit浏览器*/
    -ms-user-select: none;   /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}
.passInput .passKey div:hover{
    border:1px solid #1d95d4;
}
.passInput .passKey .del{
    background:url(./del.png) no-repeat 50% 50%;
}